.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Calculator Section */
.calculator-section {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 677px;
  width: 496px;
  border: solid black;
  padding: 20px;
  gap: 15px;
  /* background-color: lightgrey; */
  border-radius: 50px;
}

.calculator-title {
  display: flex;
  font-size: 39px;
}

.calculator-display {
  /* margin-top: 15px; */
  margin-bottom: 30px;
  border-radius: 8px;
  max-width: 428px;
  height: 96px;
  background-color: #171717;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  gap: 8px;
  padding-right: 15px;
}
.previous-operand {
  font-size: 18px;
  color: #e5e7eb;
}
.current-operand {
  font-size: 28px;
  color: #ffffff;
}

.calculator-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 428px;
  gap: 8px;
}

/* button styling */
.btn-clear,
.btn-del {
  background-color: #f44336;
}

.btn-clear,
.btn-del,
.btn-operator,
.btn-number,
.btn-equals,
.btn-zero,
.btn-decimal {
  border: solid #a3a3a3;
  border-width: 2.5px;
  border-radius: 8px;
  font-size: 24px;
  height: 68px;
}

.btn-operator,
.btn-equals {
  background-color: #262626;
  color: #ffffff;
  width: 98px;
}

.btn-clear {
  width: 208px;
}
.btn-del {
  width: 98px;
}

.btn-decimal,
.btn-number {
  width: 98px;
  background-color: #ffffff;
  color: #171717;
}

.btn-zero {
  width: 208px;
  background-color: #ffffff;
  color: #171717;
}

/* .calculator-disclaimer {
  display: flex;
} */

button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: inherit;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: beige;
}

.button:active {
  background-color: beige;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
