.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.page-title {
  font-size: 36px;
}

.page-description {
  font-size: 18px;
}

/* Calculator Section */
.calculator-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 731px;
  width: 496px;
  border: solid black;
  padding: 20px;
  gap: 15px;
  background-color: lightgrey;
}

.calculator-title {
  display: flex;
  font-size: 39px;
}

.calculator-display {
  /* margin-top: 15px; */
  margin-bottom: 30px;
  border-radius: 8px;
  max-width: 428px;
  height: 96px;
  background-color: #171717;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  gap: 8px;
  padding-right: 15px;
}
.previous-operand {
  font-size: 18px;
  color: #e5e7eb;
}
.current-operand {
  font-size: 28px;
  color: #ffffff;
}

.calculator-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 428px;
  gap: 8px;
}

/* button styling */
.btn-clear,
.btn-del {
  background-color: #e5e5e5;
}

.btn-clear,
.btn-del,
.btn-operator,
.btn-number,
.btn-equals,
.btn-zero,
.btn-decimal {
  border: solid #a3a3a3;
  border-width: 2.5px;
  border-radius: 8px;
  font-size: 24px;
  height: 68px;
}

.btn-operator,
.btn-equals {
  background-color: #262626;
  color: #ffffff;
  width: 98px;
}

.btn-clear {
  width: 208px;
}
.btn-del {
  width: 98px;
}

.btn-decimal,
.btn-number {
  width: 98px;
  background-color: #ffffff;
}

.btn-zero {
  width: 208px;
  background-color: #ffffff;
}

/* .calculator-disclaimer {
  display: flex;
} */
